#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_COMPAT=2

setup: setup-stamp
setup-stamp:
	dh_testdir

	rm -rf build build-udeb
	mkdir build build-udeb
	cp debian/Makefile.build build/Makefile
	cp debian/Makefile.build-udeb build-udeb/Makefile

	sed '1,/^%change/d' < pump.spec > changelog

	touch setup-stamp

build: build-stamp
build-stamp: setup-stamp
	dh_testdir
	
	$(MAKE) -C build pump SHOME=$(CURDIR)
	$(MAKE) -C build-udeb pump SHOME=$(CURDIR)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot

	rm -rf build-stamp install-stamp setup-stamp changelog \
		build build-udeb

	dh_clean

# Build architecture-independent files here.
binary-indep: build
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cp build/pump debian/pump/sbin
	cp pump.8 debian/pump/usr/share/man/man8/pump.8

	cp build-udeb/pump debian/pump-udeb/sbin

	dh_installdocs -Npump-udeb
	dh_installchangelogs -Npump-udeb changelog
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdebconf
	dh_installdeb -Npump-udeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	for i in ../pump-udeb_*.deb; do mv $$i $${i%deb}udeb; done
	sed '/^[^ ]*\.udeb/d; s/^\(pump-udeb_[^ ]*\.\)deb/\1udeb/' \
		debian/files > debian/files.new
	mv debian/files.new debian/files

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
