#!/usr/bin/make -f

clean:
	rm -rf *~ debian/tmp debian/webmin-lbs-common
	rm -f build-stamp
	dh_clean

build:
	echo "Nothing to build"

binary: binary-arch binary-indep

binary-arch: 

DESTDIR = debian/webmin-lbs-common

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	debian/copyversion
	#ln -sf /tftpboot/revoboot/bin/inifile.pl
	#ln -sf /tftpboot/revoboot/bin/lbs-lib.pl
	-cp -af * $(DESTDIR)/usr/share/webmin/lbs_common/

	-find $(DESTDIR) -name CVS -exec rm -rf {} \; 2>/dev/null
	-find $(DESTDIR) -name .svn -exec rm -rf {} \; 2>/dev/null

	rm -rf $(DESTDIR)/usr/share/webmin/lbs_common/debian
	find $(DESTDIR) -name \*.cgi -o -name \*.php -exec chmod 755 {} \;

	install --mode=600 config $(DESTDIR)/etc/webmin/lbs_common/config
	touch $(DESTDIR)/etc/webmin/lbs_common/admin.acl

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

