.lsc-files-list {
	
}

.lsc-files-list TABLE{
	font-size:10px;
	border: 1px solid #FF3300;
}

.lsc-files-list TH {
	background-color: #e0e0e0;
	border:1px solid white;
	color:red;
}

.lsc-files-list TR.row-odd {
	background-color: #fce6e0;
}

.lsc-files-list TR.row-even {
	background-color: #ddd;
}

.lsc-files-list TD {
	border:1px solid white;
}

.lsc-files-list TD.index-column {
	text-align:center;
}

.lsc-files-list TD.filename-column {
	text-align:center;
}
