Source: webmin-lrs-theme
Section: utils
Priority: optional
Build-Depends-Indep: debhelper (>= 4.0) 
Maintainer: Linbox <info@linbox.com>
Standards-Version: 3.6.1

Package: webmin-lrs-theme
Section: utils
Architecture: all
Depends: lbs, webmin, php4, php4-cgi, webmin-lbs-common
Description: Webmin Linbox LRS theme
 This package contains the nice Webmin Linbox LRS theme. 
 
