.fond_designation
{
	background-color:#9999ff; 
}
.fond_champs
{
	background-color:#97bcc9;
}

.fond_normal
{
	background-color:#e2e2e2;
}

.fond_recapitulatif
{
	background-color:#ffb656;
}

.fond_normal2
{
	background-color:#e2d1f9;
}
